*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.container{
    height: 70%;
    width: 70%;
    background-color: rgba(0, 0, 0, 0.55);
    border-radius: 2rem;
}

.heading{
    height: 15%;
    width: 100%;
    font-size: 2.5rem;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
}

.task{
    height: 85%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo{
    height: 100%;
    width: 53%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    border-right: none;
    border-radius: 2rem 0 0 2rem;
}

.completed{
    height: 100%;
    width: 47%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    border-left: none;
    border-radius: 0 2rem 2rem 0;
}

.heading1{
    height: 10%;
    width: 100%;
    display: flex;
    font-size: 1.5rem;
    font-weight: 500;
    justify-content: center;
    align-items: center;
}
.heading2{
    height: 10%;
    width: 100%;
    font-size: 1.5rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list1{
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.list2{
    height: 80%;
    width: 100%;
    overflow-y: scroll;
}

.pending{
    height: 80%;
    width: 100%;
    padding:20px;
    overflow-y: scroll;
}

.input{
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.input input{
    height: 60%;
    width: 50%;
    font-size: 1.25rem;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid white;
    color: white;
    outline: none;
}

::placeholder{
    color: white;
}

.btn{
    height: 60%;
    width: 15%;
    border-radius: 2rem;
    border: 2px solid white;
    font-weight: 500;
    color: white;
    background-color: transparent;
}

.btn:hover{
    background-color: rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-track{
    background-color: #888;
    border-radius: 1rem;
    height: 70%;
}

::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
    background:  rgb(198, 195, 195);
}


